.calc-body {
   width: 20rem;
}

.screen {
   box-sizing: border-box;
   height: 7rem;
   background-color: #b8b8b8;
   border-radius: 5px;
   margin-bottom: 0.2rem;
   text-align: end;
   align-content: end;
   padding: 1rem;
}

.keyboard>* {
   /* min-width: 3.5rem; */
   min-height: 3.5rem;
   background-color: #b8b8b8;
   border-radius: 5px;
   border-style: none;

   display: flex;
   align-items: center;
   justify-content: center;
}

.keyboard {
   display: grid;
   grid-template-rows: repeat(5, auto);
   grid-template-columns: repeat(4, 1fr);
   gap: 0.2rem;
}

#reset {
   grid-column: 1 / 3;
   grid-row: 1 / 2;
}

.keyboard button:hover {
   background-color: #d8d8d8;
}
