@font-face {
   font-family: "Digital";
   src: url(fonts/digital-7.ttf);
}
@font-face {
   font-family: "Digital-i";
   src: url(fonts/digital-7-i.ttf);
}

.calc-space {
   position: relative;
   box-sizing: border-box;
   display: flex;
   gap: 2px;
}

.calc-body, .historic {
   padding: 0.6rem;
   width: 20rem;
   height: 33rem;
   background-color: #474747;
   border: #575757 3px solid;   
}

.calc-body {
   position: relative;
   box-sizing: border-box;
   border-radius: 10px;
   transition: border-radius 0.5s ease;
   z-index: 1;
}

.historic {
   position: absolute;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-sizing: border-box;
   z-index: 0;
   border-radius: 10px;
   transform: translate(0,0);
   transition: transform 0.5s ease, border-radius 0.5s ease;
}

.historic-show {
   transform: translate(99%,0);
   border-radius: 0 10px 10px 0;
}

.calc-body-show {
   border-radius: 10px 0 0 10px;
}

.screen-body {
   position: relative;
   box-sizing: border-box;
   height: 7rem;
   background-color: #f8f8f8;
   border: #000000 1px solid;
   border-radius: 5px;
   margin-bottom: 0.5rem;
}

.history-icon {
   display: flex;
   position: absolute;
   top: 10px;
   right: 10px;
}

.screen {
   box-sizing: border-box;
   height: 100%;
   color: #302a4e;
   text-align: end;
   align-content: end;
   padding: 0.5rem;
   font-family: Digital, sans-serif;
   word-wrap: break-word;
   font-size: 3.5rem;
}

.history-icon{
   height: 20px;
}

.history-icon:hover{
   filter: invert(0.5);
}


.keyboard>* {
   min-height: 3.5rem;
   background-color: #b8b8b8;
   border-radius: 5px;
   border-style: none;
   border: #000000 1px solid;
}

.keyboard {
   display: grid;
   grid-template-rows: repeat(5, auto);
   grid-template-columns: repeat(4, 1fr);
   gap: 0.5rem;

}

#reset {
   grid-column: 1 / 3;
   grid-row: 1 / 2;
}

#result {
   background-color: #6bb47d;
   grid-column: 3 / 5;
}

#n0 {
   grid-column: 1 / 3;
}

button {
   font-size: 1.5rem;
   font-family: Verdana, sans-serif;
   font-weight: 500;
}

.btnOp {
   background-color: #9a75f1;
}

.btnSpec, #backspace {
   background-color: #f57676;
}

#parent1,#parent2 {
   background-color: #ebe9a7;
}

.keyboard button:hover,
#result:hover,
#backspace:hover
{
   cursor: pointer;
   transform: scale(1.07);
   box-shadow: #e6e6e6 0px 0px 5px;
}

#comma {
   display: flex;
   justify-content: center;
}

#hist-title {
   text-align: center;
   color: #e6e6e6;
   font-family: Georgia, serif;
   font-size: 1.4rem;
   text-transform: uppercase;
   margin: 0.1rem 0 0;
}

#hist-title p{
   font-family: sans-serif;
   font-size: 0.7rem;
   text-transform: lowercase;
   margin: 0.1rem 0 0;
}

#historic-numbers {
   display: flex;
}

#historic-sentence,
#historic-result {
   box-sizing: border-box;
   border-radius: 5px;
   background-color: #e6e6e6;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   padding: 10px 5px;

   font-family: Georgia, serif;
   font-size: 1rem;
   text-transform: uppercase;
}

#historic-sentence {
   width: 65%;
   margin: 5px 0 0;
}

#historic-result {
   width: 35%;
   margin: 5px 0 0 5px;
}

.hist-sent, .hist-res {
   height: 2.5rem;
   align-content: center;
   color: #575757;
   font-size: 1rem;
   border-bottom:#b8b8b8 1px solid;
   font-family: sans-serif;
   white-space: nowrap;
   overflow: auto;
   cursor: grab;
   /* text-overflow: ellipsis; */
}
.hist-sent:hover, .hist-res:hover {
   background-color: #dadada;
}

.hist-sent:active, .hist-res:active {   
   color: #af8dfd;
   cursor: grabbing;
}


@media (max-width: 680px){
   .calc-space {
      justify-content: center;
      width: 95%;
      margin: 1rem auto;
   }
   .calc-body, .historic{
      width: 100%;
   }
   .historic-show {
      transform: translate(0,99%);
      border-radius: 0 0 10px 10px;
   }
   .calc-body-show {
      border-radius: 10px 10px 0 0;
   }
}
